@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400;700&family=Nunito:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

.cursive {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 500; /* or 700 */
  font-style: normal;
}
.nunito-main {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.bubbler-one-regular {
  font-family: "Bubbler One", sans-serif;
  font-weight: 400;
  font-style: normal;
}